* {margin: 0; padding: 0}

body {font-size: 13px; font-family: Georgia, serif; background: url('images/bg.gif') repeat;}
img {border: 0;}

.main_container {width: 860px; margin: 0 auto; background: #fff; border-radius: 0 0 5px 5px; box-shadow: 0 0 15px #999;}

.header {height: 220px; background: url('images/header_bg.gif') top no-repeat;}
.site_info {position: relative; top: 80px; text-align: center;}
.site_info .title {font-size: 60px; color: #ffffff;}
.site_info .date {font-size: 21px; color: #EEF5FA;}

.content_bottom_hr {height: 28px; background: url('images/footer.gif') center no-repeat; margin-top: 20px;}

.main_table {width: 100%; border-collapse: collapse; margin-top: 25px;}
.main_table .menu {width: 200px; vertical-align: top;}
.main_table .menu ul {list-style: none;}
.main_table .menu li {border-bottom: 1px solid #EFE2CD;}
.main_table .menu li a {font: 14px/1.2em Georgia, serif; display: block; padding: 13px 20px; text-align: right; text-decoration: none; color: #421B00;}
.main_table .menu li a:hover {background: #F9F7E8;}
.main_table .menu li.active a {background: #F9F7E8;}

.main_table .content {font: 12px Verdana; vertical-align: top; padding: 0 15px 0 30px; line-height: 19px;}
.main_table .content h1 {font-family: Georgia; font-size: 18px; border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 10px; color: #555;}
.main_table .content a {text-decoration: none;}
.main_table .content a:hover {text-decoration: underline;}

.main_table .content ol, .main_table .content ul, .main_table .content dl {margin-top: 10px; padding:0 30px;}
.main_table .content p {margin-top: 10px; padding: 0;}
.main_table .content iframe {max-width: 600px;}
.main_table .content img {max-width: 600px;}
.main_table .content table, .main_table .content td {border:0;}

.table_data {width: 100%; border-collapse: collapse;}
.table_data td {vertical-align: top;}

.footer {text-align: center; padding: 10px 30px 20px 30px; color: #888;}
.footer a {color: #888; text-decoration: none;}
.footer a:hover {text-decoration: underline;}