* {padding:0; margin: 0; outline: none; line-height: 1.22em;}

html, body {height: 100%;}
body {width: 100%; font-size: 13px; font-family: Arial, Hevelica, Verdana, sans-serif;}
a {text-decoration: none; cursor: pointer;}
a img {border: 0;} /* for <3 IE */

/* GLOBAL CONTAINER */
.container {width: 1000px; margin: 0 auto;}


/* HEADER */
.head {display: block; width: 160px; text-shadow: 0 1px 2px #000; cursor: pointer; text-transform: uppercase; background: #555; font-size: 20px; padding: 10px 3px 15px 25px; color: #ffffff; line-height: 17px;}
.head span {color: #ccc;}


/* HEAD MAIN MENU */
.head_menu {border-top: 1px solid #555;}
.head_menu ul {clear: both; list-style: none;}
.head_menu li {position: relative; float: left; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.head_menu li.first {border-radius: 0 0 0 5px;}
.head_menu li.last {border-right: 1px solid #ccc; border-radius: 0 0 5px 0;}
.head_menu a {display: block; padding: 5px 15px; color: #143937; text-decoration: none;}
.head_menu a:hover {color: #061312; text-decoration: underline;}
.head_menu .arrow-down {background: url('/static/images/arrowDown.png') right no-repeat; margin-right: 10px;}

.head_menu li div {position: absolute; left:-9999px; z-index: 800; overflow: hidden; width: 200px; padding: 5px; border: 1px solid #ddd; background: #ffffff; box-shadow: 0 0 10px #ccc;}
.head_menu li div li {clear: both; border: 0;}
.head_menu li:hover div {left:-1px;}
.head_menu li.main:hover {background: #e9e9e9;}
.head_menu a.main:hover {text-decoration: none; cursor: default;}


/* HEAD USER BAR */
.head_userbar {position: absolute; margin-left: 200px; margin-top: 5px; color: #444;}
.head_userbar a {color: #444;}
.head_userbar a.logout:hover {text-decoration: underline;}
.head_userbar a.links {text-decoration: underline;}
.head_userbar a.links:hover {text-decoration: none;}


/* CONTENT */
.content {clear: both; margin-top: 50px; padding: 10px 5px; border-radius: 3px;}
.content a {color: #1f635f; text-decoration: underline;}
.content a:hover {text-decoration: none;}
.content h1 {font-size: 20px; font-weight: normal; color: #555; border-bottom: 2px solid #ddd; padding-bottom: 3px; margin-bottom: 10px;}
.content h2 {font-size: 18px; font-weight: normal; color: #555; border-bottom: 2px solid #ddd; padding-bottom: 3px; margin-bottom: 10px;}
.content p {margin-bottom: 8px;}

/* FOOTER */
.footer {background: #555; margin: 25px 0; color: #ccc; font-size: 12px; border-top: 2px solid #ddd; padding: 10px 15px; text-align: right; border-radius: 3px;}


/* CATEGORY EDITOR */
.category_editor {width: 100%; border-collapse: collapse;}
.category_editor .left {width: 50%; vertical-align: top; }
.category_editor .right {width: 50%; vertical-align: top; }
.category_editor .right .ajax_wrapper {padding: 10px;}
.category_editor .filter {padding: 10px 5px; border-bottom: 1px solid #a4a4a4; background: #f1f1f1; position: relative; border-radius: 3px;}
.category_editor .cats_list {padding: 15px  30px 0 30px; overflow-y: scroll; overflow-x: hidden; border-bottom: 1px solid #a4a4a4;}

.category_editor .root {cursor: pointer; position: relative; background: #dbf1ec; padding: 7px; margin: 10px 0; border-bottom: 1px solid #ddd; border-radius: 2px;}
.category_editor .root .cat_info {color: #6f6f6f;}

.category_editor .children {margin-left: 30px; }
.category_editor .children .cat_info {color: #a8a8a8;}
.category_editor .children {cursor: pointer; position: relative; padding: 5px; border-radius: 2px;}

.category_editor .edit_links {position: absolute; right: 10px; display: none; margin-left: 10px; color: #a8a8a8;}
.category_editor .root:hover {background: #d2dfdc;}
.category_editor .root:hover .edit_links {display: inline;}
.category_editor .children:hover {background: #f2f2f2;}
.category_editor .children:hover .edit_links {display: inline;}


/* ATTRIBUTES EDITOR */
.attributes_editor {width: 100%; border-collapse: collapse; padding: 0;}
.attributes_editor .help_title {font-size: 16px; background: #f1f1f1; padding: 5px; margin-bottom: 15px; border-radius: 3px; color: #777777;}
.attributes_editor .left {width: 40%; border-right: 2px solid #dddddd; vertical-align: top;  padding: 10px;}
.attributes_editor .right {width: 60%;  vertical-align: top; padding: 0 10px;}
.attributes_editor .right .help {margin: 10px 40px;}
.attributes_editor .right .help li {padding: 3px 0;}
.attributes_editor .right b {margin-left: 10px;}


/* LIST DATA */
.list_data .element {display: block; padding: 15px; position: relative; border-bottom: 1px solid #ccc; border-top: 1px solid #f6f6f6;}
.list_data .element.empty {color: #999;}
.list_data .element.empty:hover {background: none;}
.list_data_head {padding: 10px; border-bottom: 3px solid #ccc; background: #f1f1f1; position: relative; border-radius: 3px 3px 0 0;}
.list_data .element:hover {background-color: #f1f1f1;}
.list_data .element:hover .edit_links {display: inline;}
.list_data .active {cursor: pointer;}
.list_data .element .info {color: #a8a8a8;}
.list_data .edit_links {position: absolute; right: 10px;  display: none; margin-left: 10px; color: #a8a8a8;}
.scrolled {overflow-y: scroll; border: 1px solid #ddd;}
.ui-sortable .sortable_trigger, .list_data .sortable_trigger {float: left; margin-right: 10px; margin-top: -1px; width: 16px; height: 16px; background: url('/static/images/icon-drag.gif') no-repeat; border-radius: 3px;}
.ui-sortable .sortable_trigger, .list_data .sortable_trigger:hover {cursor: move !important;}
.list_data .c_pointer {cursor: pointer;}
.list_data .c_default {cursor: default;}


/* LIST TABLE */
.list_table {width: 100%; border-collapse: collapse; padding: 0;}
.list_table thead {background: #f1f1f1;}
.list_table thead th {position: relative;  border-right: 1px solid #ccc; border-bottom: 3px solid #ccc;}
.list_table thead th b {display: block; padding: 10px;}
.list_table thead th a {display: block; padding: 10px; text-decoration: none; color: #000000;}
.list_table thead th a:hover {background: #e5e5e5;}
.list_table thead th a.asc,
.list_table thead th a.desc {background: #cfcfcf;}

.list_table td {padding: 8px; border-bottom: 1px solid #ddd; }
.list_table .al_l {text-align: left;}
.list_table .al_r {text-align: right;}
.list_table .al_c {text-align: center}
.list_table tr:hover {background-color: #f1f1f1;}
.list_table tr:hover .edit_links {display: inline;}
.list_table .last_r {border-right: none;}
.list_table td .edit_links {display: none; color: #a8a8a8;}
.list_table .c_pointer {cursor: pointer;}
.list_table .c_default {cursor: default;}


/* DEFAULT CLASSES */
.l_fl {float: left;}
.r_fl {float: right;}

.l_al {text-align: left;}
.r_al {text-align: right;}
.c_al {text-align: center;}

.t_va {vertical-align: top;}

.placeholder {color: #aaa;}

.default_table {width: 100%;}
.default_table td {padding: 5px;}
.default_table td .title {display: block; padding: 5px 0; font-weight: bold;}
.default_table .note {color: #999; font-size: 12px;}

select,
textarea,
input[type=text],
input[type=password] {width: 200px; padding: 5px; border-radius: 3px; border: 1px solid #b7b7b7;}

select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0 0 10px #b7b7b7;
}

.default_table .images {padding: 10px;}

ul.default {margin-left: 30px; margin-top: 10px;}
ul.default li {padding: 5px 0;}

.b-default_button {padding: 3px 10px; text-shadow: 1px 1px 1px #196771; border-radius: 3px; background: #2298a7 url('/static/images/bg_button.jpg') repeat-x; border: 1px solid #2291a0; color: #ffffff !important; text-decoration: none !important;}
.b-default_button:hover {background-position: 0 -26px; cursor: pointer;}
.b-default_button:active {background: #2394a2;}

.uploadIcon .button {margin-bottom: 10px; color: #1f635f !important;}
.uploadIcon .loader {position: absolute;}

.nav a {font-size: 18px;}


/* NOTIFY MESSAGES */
.msg_error_block {padding: 10px; margin: 5px 0; display: block; background: #ffeeee; color: #000000; border: 1px solid #faa0a0;}
.msg_error {margin: 10px; color: red;}
.msg_success {display: block; background: #dcf2d5; border: 1px solid #b4f29e; border-radius: 3px; padding: 5px 15px; margin: 10px 5px; color: #000000; }

.errorSummary {padding: 10px; margin-bottom: 15px; display: block; background: #ffeeee; color: #000000; border: 1px solid #faa0a0;}
.errorSummary ul {list-style: square outside; margin-left: 30px; margin-bottom: 5px; margin-top: 10px;}
.errorSummary li {}

.errorMessage {display: block; border-radius: 3px; padding: 3px 0; margin: 0; color: red;}
.red_text {color: red !important;}

input.error {background: #faeaea; border: 1px solid; border-color: #ff0000;}
select.error {background: #faeaea; border: 1px solid #ff0000;}
textarea.error {background: #faeaea; border: 1px solid #ff0000;}


/* SEARCH */
.b-search {margin-bottom: 15px;}
.b-search input {padding: 5px; width: 400px;}
.b-search .button_main {top: -1px; margin-left: 5px;}

/* UPBOX */
.upbox_title {margin: 2px; border-radius: 3px; background: #555; color: #fff; border: 1px solid #333; font-weight: bold;}

.upbox {width: 550px; overflow: hidden; border-radius: 5px;}
.upbox .upbox_content_title {padding: 7px 15px;}
.upbox .upbox_content {padding: 0 15px 15px 15px; border-top: none;}
.upbox .upbox_buttons {background-color: #f1f1f1; text-align: right; padding: 10px;}
.upbox .upbox_buttons div {margin-left: 5px;}

.upbox .upbox_content .field {margin-bottom: 10px;}
.upbox a {text-decoration: underline;}
.upbox a:hover {text-decoration: none;}


/* BUTTONS */
.button_main, .button_grey {
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    *display: inline;
    position: relative;
    line-height: normal;
}

.button_main {border: 1px solid #006673; padding: 0; margin: 0;}
.button_main button, .button_grey button {
    border: 1px solid;
    background: none;
    outline: none;
    margin: 0;
    padding: 4px 14px;
    *padding: 5px 15px 3px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;
}

.button_main button {
    border-top-color: #00bdcd;
    border-bottom-color: #0097a7;
    border-left-color: #0097a7;
    border-right-color: #0097a7;
    color: white;
    text-shadow: 0 1px 0 #006673;
    background: url('/static/images/button.png') #6181A6 repeat-x top;
    background-position: 0 -16px;
}

.button_main button:hover,
.button_main button.hover {background-position: 0 -8px; }

.button_main button:active,
.button_main button.active {background: #0097a7; border: 1px solid #0097a7; position: relative; }


.button_grey {border: 1px solid #b3b3b3; padding: 0; margin: 0;}
.button_grey button {
    border-top-color: #ffffff;
    border-bottom-color: #e5e5e5;
    border-left-color: #e7e7e7;
    border-right-color: #e7e7e7;
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    background: url('/static/images/button_grey_bg.png') #dedede repeat-x top;
}

.button_grey button:hover,
.button_grey button.hover {background-position: 0 -25px;}

.button_grey button:active,
.button_grey button.active {background: #dcdcdc; border-color: #dcdcdc;}


/* PAGINATION */
ul.b-default_pager {list-style: none; display: inline; overflow: hidden;}
ul.b-default_pager a {text-decoration: none;}
ul.b-default_pager li {display: inline;}
ul.b-default_pager .first {display: none;}
ul.b-default_pager .previous {}
ul.b-default_pager .last {display: none;}
ul.b-default_pager .next {}
ul.b-default_pager .page {}
ul.b-default_pager .selected {}
ul.b-default_pager .selected a {border-bottom: 3px solid #6c6c6c; color: #000000; font-weight: bold;}
ul.b-default_pager .selected a:hover {border-bottom: 3px solid #6c6c6c; cursor: default;}
ul.b-default_pager .hidden {display: none;}
ul.b-default_pager li a {display: block-inline; padding: 3px 7px; color: #555555; border-bottom: 3px solid #f0f0f0;}
ul.b-default_pager li a:hover {border-bottom: 3px solid #cacaca; color: #000000;}

.comment_table {margin: 10px 0; border-bottom: 1px solid #f1f1f1; width: 100%; border-collapse: collapse;}
.comment_table a {text-decoration: none; color: #4f70a7;}
.comment_table a:hover {text-decoration: underline;}
.comment_text {margin: 3px 0; width: 450px; overflow: hidden;}
.comment_info {font-size: 12px; padding-bottom: 5px; color: #999;}

.stats_data {border-collapse: collapse; border-top: 1px solid #ddd; width: 100%; margin-top: 10px;}
.stats_data th {padding: 3px 5px; background-color: #f1f1f1; border-bottom: 1px solid #ddd;}
.stats_data td {border-bottom: 1px solid #ddd; padding: 5px;}
.stats_data tr:hover {background-color: #f1f1f1;}

/* MEDIA THUMBS */
.b-media-thumbs_title {margin-bottom: 15px;background: #f1f1f1; font-weight: bold; padding: 5px 10px; color: #444;}
.b-media-thumbs_box {margin-bottom: 20px; padding-left: 10px; overflow: hidden;}
.b-media-thumbs {clear: both; overflow: hidden;}
.b-media-thumbs .img { height: 120px; width: 100px; text-align: center;  margin-right: 16px; margin-bottom: 15px; float:left; position:relative;}
.b-media-thumbs .video { height: 110px; width: 122px; text-align: center;  margin-right: 15px; margin-bottom: 15px; float: left; position:relative;}
.b-media-thumbs .element {width: 102px; text-align: center; margin-right: 15px; margin-bottom: 10px; float: left; position:relative;}
.b-media-thumbs a {color: #000000;}
.b-media-thumbs a:hover {text-decoration: underline !important;}
.b-media-thumbs .delete {background: #ffffff url('/static/images/delete.gif') no-repeat; display: block; position: absolute; top: 0; right: 0; width: 15px; height: 15px; border-radius: 0 0 0 3px;}

/* GALLERY */
.gallery-photos {
    margin: 30px 0 15px 0;
}
.gallery-photos img {
    opacity: 0.7;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    transition: all 0.1s;
    width: 100px;
    height: 100px;
}
.gallery-photos a {
    display: inline-block;
}
.gallery-photos a:hover img {
    border-color: #000;
    opacity: 1;
}
.gallery-img-wrap {
    padding: 0;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: hidden;
}
.gallery-filter {
    height: 20px;
}
