.gallery-filters {
    border-bottom: 1px solid #ddd;
    padding: 0 50px 5px 50px;
    width: 858px;
    z-index: 1000;
}
.fixed-filters .gallery-filters {
    background-color: #fff;
    padding-top: 15px;
}
.gallery-filters .categories {
    display: inline-block;
}
.gallery-filters .categories ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.gallery-filters .vendor {
    margin: 5px 0 10px 0;
    font-size: 14px;
}

.gallery-filters .categories ul li a {
    display: block;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #222;
}
.gallery-filters .categories ul li a:hover {
    text-decoration: none;
    background-color: #e7eed0;
}
.gallery-filters .categories ul li a.active {
    font-weight: bold;
}

.gallery-feed {
    border-top: 1px solid #f9f9f9;
    padding: 15px 50px 0;
}
.gallery-feed > .info {
    text-align: right;
    margin-bottom: 15px;
}
.gallery-feed > .info > span {
    color: #888;
    border-bottom: 1px dotted;
    cursor: help;
}
.gallery-feed .empty {
    color: #999;
    font-style: italic;
}
.gallery-feed .item {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;
}
.gallery-feed .item .aside {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 50px;
}
.gallery-feed .item .aside .avatar,
.gallery-feed .item .aside .avatar img {
    width: 50px;
    height: 50px;
}
.gallery-feed .item .section {
    display: inline-block;
    width: 790px;
}
.gallery-feed .item .section .info {
    position: relative;
    margin-bottom: 10px;
}
.gallery-feed .item .section .info .title {
    display: inline;
}
.gallery-feed .item .section .info .title > a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}
.gallery-feed .item .section .info .date {
    float: right;
    font-style: italic;
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}
.gallery-feed .item .section .title:hover .dropdown-wrap {
    display: block;
}
.gallery-feed .item .section .info .dropdown-wrap {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 5px;
}
.gallery-feed .item .section .info .dropdown {
    background-color: #fff;
    color: #999;
    width: 190px;
    padding: 3px;
    z-index: 500;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    box-shadow: 1px 1px 10px -2px #222;
}
.gallery-feed .item .section .info .dropdown a {
    display: block;
    padding: 5px 10px;
}
.gallery-feed .item .section .description {
    margin-bottom: 10px;
    margin-top: -3px;
    line-height: 150%;
}
.gallery-feed .item .section .photo {
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    background-color: #444;
    box-shadow: inset 0 0 10px #000;
    border: 1px solid #222;
}
.gallery-feed .item .section .photo img {
    max-width: 100%;
    max-height: 600px;
    border-radius: 2px;
}
.gallery-feed .item .section .more {
    margin-top: 10px;
}

.gallery-paginator {
    margin-bottom: 25px;
    text-align: center;
}
.gallery-paginator a {
    font-size: 18px;
}
