* {padding: 0; margin: 0; outline: none; font-weight: normal;}
ol, ul {
    list-style: none;
}
b, strong {
    font-weight: bold;
}
html, body {height: 100%; width: 100%;}
body {background: #fbfcff; font: 13px Arial, "Helvetica", Trebuchet MS, Tahoma, Verdana, sans-serif;}
textarea {font-family: Arial, sans-serif;}

body > .layout {height: 100%; background: url('/static/images/bg_shadow.jpg') top repeat-x;}

a {
    text-decoration: none;
    cursor: pointer;
    color: #4f70a7;
}
a:hover {
    text-decoration: underline;
    color: #365589;
}
a img {border: 0;} /* for <3 IE */

/* LAYOUT */
.layout_header {
    width: 1000px;
    margin: 0 auto;
}

.layout_header > .logo {
    overflow: hidden;
}
.layout_header > .logo a {
    display: block;
    width: 245px;
    height: 80px;
    margin: 10px auto;
    background: url('/static/images/logo.png') no-repeat;
}

.layout_header .topnav_wrap {
    overflow: hidden;
    position: relative;
}
.layout_header .topnav_wrap > .nav li {
    float: left;
    margin-right: 5px;
}
.layout_header .topnav_wrap > .nav li a {
    display: block;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    color: #555;
    margin-top: 2px;
    border: 1px solid #eae3c3;
    border-bottom-color: #dedede;
    text-shadow: 0 1px 0 #ffffff;
    background: #fff7d0 url('/static/images/main_nav_bg.png') top repeat-x;
    border-radius: 3px 3px 0 0;
}
.layout_header .topnav_wrap > .nav li a:hover {
    text-decoration: none;
    color: #222;
    background-position: bottom;
}
.layout_header .topnav_wrap > .nav li.active a {
    margin-top: 0;
    padding: 6px 10px 6px 10px;
    background: #f9f9f9;
    border-color: #dedede;
    border-bottom-color: #f9f9f9;
    color: #333;
}

.layout_header .topnav_wrap .userbar_wrap {
    position: absolute;
    right: 0;
}
.layout_header .topnav_wrap .userbar_wrap .nav {
    margin-top: 5px;
}
.layout_header .topnav_wrap .userbar_wrap .nav li {
    float: left;
    padding: 0 5px;
    border-right: 1px solid #f1f1f1;
}
.layout_header .topnav_wrap .userbar_wrap .nav li a {
    display: block;
    padding: 5px;
}
.layout_header .topnav_wrap .userbar_wrap .nav li.username a {
    font-weight: bold;
}

.layout_header .topbar_wrap {
    margin-top: -1px;
    height: 35px;
    background: #f9f9f9;
    border: 1px solid #dedede;
    border-radius: 0 3px 0 0;
}
.layout_header > .topbar_wrap .nav {
    margin: 5px 0 0 15px;
}
.layout_header > .topbar_wrap .nav li {
    float: left;
    margin-right: 10px;
}
.layout_header > .topbar_wrap .nav li a {
    display: block;
    color: #000;
    text-shadow: 0 1px 0 #eeeeee;
    padding: 5px 10px;
    border-radius: 3px;
}
.layout_header > .topbar_wrap .nav li a:hover {
    text-decoration: underline;
}
.layout_header > .topbar_wrap .nav li.active a {
    background-color: #ddd;
    text-decoration: none;
}

.layout_container {
    margin: 0 auto;
    width: 998px;
    background: #ffffff;
    border: 1px solid #dedede;
    border-top: 0;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}
.layout_container > .wrapper {
    margin: 0 auto;
    border-top: 1px solid #f2f2f2;
    padding: 20px;
    clear: both;
    overflow: hidden;
}

.layout_container > .wrapper > .left_sidebar {
    width: 175px;
    padding-right: 10px;
    float: left;
    border-right: 1px solid #f1f1f1;
    margin-right: 15px;
}
.layout_container > .wrapper > .left_sidebar li > a {
    display: block;
    padding: 7px 10px;
    text-shadow: 0 1px 0 #fff;
    color: #555;
}
.layout_container > .wrapper > .left_sidebar li > a.with_icon {
    padding-left: 35px;
}
.layout_container > .wrapper > .left_sidebar li > a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}
.layout_container > .wrapper > .left_sidebar li.funbar {
    font-weight: bold;
    padding: 15px 0 5px 0;
    margin-bottom: 5px;
}
.layout_container > .wrapper > .left_sidebar li.funbar a {
    font-weight: bold;
    color: #555;
    border-bottom: 1px dotted;
}
.layout_container > .wrapper > .left_sidebar li.funbar a:hover {
    text-decoration: none;
}

.layout_container > .wrapper > .content_wrap > .content {
    overflow: hidden;
}

.layout_container .page p {
    margin-bottom: 15px;
}
.layout_container .page ul {
    margin-left: 30px;
    list-style: disc;
}
.layout_container .page ul li {
    margin-bottom: 5px;
}
.layout_container .page h2.s1 {
    margin: 30px 0 10px 0;
}
.layout_container .page.info_content {
    padding: 0 40px;
    line-height: 160%;
}

/* FOOTER */
.layout_footer {
    width: 1000px;
    margin: 15px auto;
    overflow: hidden;
}
.layout_footer a:hover {text-decoration: underline;}

.layout_footer .links {float: left; overflow: hidden; padding: 16px 10px;}
.layout_footer .links ul {list-style: none;}
.layout_footer .links ul li {float: left; margin-right: 10px; color: #ccc; }

.layout_footer .social_links {float: left; margin: 10px 0; overflow: hidden;}
.layout_footer .social_links ul {list-style: none;}
.layout_footer .social_links ul li {float: left; margin-right: 10px;}
.layout_footer .social_links ul li a {background: url('/static/images/social_icons.png'); opacity: 0.7; display: block; height: 29px; width: 30px;}
.layout_footer .social_links ul li a:hover {opacity: 1;}
.layout_footer .social_links .vk {background-position: 0 -58px;}
.layout_footer .social_links .vk:hover {background-position: 0 -87px;}
.layout_footer .social_links .facebook {background-position: 0 -116px;}
.layout_footer .social_links .facebook:hover {background-position: 0 -145px;}
.layout_footer .social_links .twitter {background-position: 0 0;}
.layout_footer .social_links .twitter:hover {background-position: 0 -29px;}
.layout_footer .social_links .mail {background-position: 0 -174px;}
.layout_footer .social_links .mail:hover {background-position: 0 -203px;}
.layout_footer .social_links .odnoklassniki {background-position: 0 -232px;}
.layout_footer .social_links .odnoklassniki:hover {background-position: 0 -261px;}
.layout_footer .social_links .livejournal {background-position: 0 -290px;}
.layout_footer .social_links .livejournal:hover {background-position: 0 -319px;}

.layout_footer .b-marinin {color: #999; font-size: 12px; float: right; margin: 10px 0;}
.layout_footer .b-marinin a {color: #999;}
.layout_footer .b-marinin .stats {margin-left: 15px; opacity: 0.7;}



.simple_add_button {
    margin: 15px 20px 15px 0;
}
.simple_add_button a {
    background: url('/static/images/plus.png') 0 4px no-repeat;
    padding: 5px 5px 5px 20px;
    color: #000;
    opacity: 0.7;
}
.simple_add_button a:hover {
    text-decoration: none;
    opacity: 1;
}

.simple_table {
    border-collapse: collapse;
    width: 100%;
}
.simple_table thead, .simple_table th {
    background: #f1f1f1;
}
.simple_table th {
    padding: 5px 10px;
    background: #fff9de;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
    color: #444;
}
.simple_table th a {
    color: #444;
    font-weight: bold;
}
.simple_table tr {
    border-bottom: 1px solid #f1f1f1;
}
.simple_table tr:hover {
    background: #fafafa;
}
.simple_table tr.active {
    cursor: pointer;
}
.simple_table td {
    padding: 10px;
}
.simple_table .empty_item {
    color: #777;
}
.simple_table .empty_item:hover {
    background: none;
}
.simple_table .js_empty_item {
    display: none;
}
.simple_table td .edit {background: url('/static/images/edit.png') no-repeat; display: block; float: left; width: 15px; height: 15px; margin-right: 10px;}
.simple_table td .trash {background: url('/static/images/trash.png') no-repeat; display: block; float: left; width: 15px; height: 15px;}
.simple_table td .delete {background: url('/static/images/delete.png') no-repeat; display: block; float: left; width: 15px; height: 15px;}
.simple_table td .restore {background: url('/static/images/restore.png') no-repeat; display: block; float: left; width: 15px; height: 15px; margin-right: 10px;}
.simple_table td .note {background: url('/static/images/note.gif') no-repeat; display: block; width: 15px; height: 15px; margin-top: -1px;}

.simple_sortby ul {list-style: none;}
.simple_sortby li {display: block; float: left; margin-right: 5px;}
.simple_sortby li a {color: #444; display: block; padding: 3px 10px; border-radius: 2px;}
.simple_sortby li a:hover {background: #f1f1f1; text-decoration: none;}
.simple_sortby li.active a {background: #d3dfaf; color: #000;}


/* PLANNING NAV ICONS */
.nav_icon_budget {background: url("/static/images/menu_icons.png") no-repeat scroll 5px 2px transparent;}
.nav_icon_checklist {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -311px transparent;}
.nav_icon_dashboard {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -189px transparent;}

.nav_icon_guests {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -30px transparent;}
.nav_icon_mailbox {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -280px transparent;}
.nav_icon_friends {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -63px transparent;}
.nav_icon_photos {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -342px transparent;}
.nav_icon_gifts {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -373px transparent;}
.nav_icon_routine {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -96px transparent;}

.nav_icon_profile {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -158px transparent;}
.nav_icon_seating {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -219px transparent;}
.nav_icon_vendors {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -129px transparent;}
.nav_icon_website {background: url("/static/images/menu_icons.png") no-repeat scroll 5px -252px transparent;}


/* MAIN SIMPLE FORM */
.main_simple_form {width: 350px; margin: 0 auto;}
.main_simple_form .item > label {font-weight: bold; color: #555; display: block; margin-bottom: 3px;}
.main_simple_form .item {margin-bottom: 15px;}
.main_simple_form .item .field input[type=text],
.main_simple_form .item .field input[type=password] {height: 25px; line-height: 25px; text-indent: 5px; width: 100%; border: 1px solid #ddd;}


/* NOTIFY MESSAGES */
.errorSummary ul {list-style: square outside; margin-left: 20px; margin-bottom: 5px; margin-top: 10px;}
.errorSummary p {font-weight: bold;}

.msg_info, .msg_success, .msg_error, .errorSummary {
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.msg_success {
    border-color: #D6E9C6;
    background: #DFF0D8;
    color: #468847;
}
.msg_info {
    border-color: #BCE8F1;
    background: #D9EDF7;
    color: #3A87AD;
}
input.error {border-color: #B94A48;}
.errorMessage {color: #B94A48;}


/* BUTTONS */
.button_main, .button_grey {text-align: center; border-radius: 2px; display: inline-block; *display: inline; position: relative; line-height: normal;vertical-align: top;}
.button_main, .button_grey {border: 1px solid #ddd; padding: 0; margin: 0; overflow: hidden;}
.button_main button, .button_grey button {
    border: 1px solid #ddd;
    background: none;
    outline: none;
    margin: 0;
    padding: 4px 14px;
    *padding: 5px 15px 3px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;
}

@-moz-document url-prefix() {
    .button_main button, .button_grey button {
        padding-top: 2px;
    }
}

.button_main {border-color: #849032;}
.button_main button, a.help_button {
    border-top-color: #a3bc44;
    border-bottom-color: #849838;
    border-left-color: #8c9b45;
    border-right-color: #8c9b45;
    color: white;
    text-shadow: 0 1px 0 #6a732b;
    background: url('/static/images/button_bg.png') #b3ce4b repeat-x top;
}

.button_main button:hover,
.button_main button.hover {background-position: 0 -25px;}

.button_main button:active,
.button_main button.active {background: #7d8e21; border-color: #7d8e21;}

.button_grey {border-color: #b3b3b3;}
.button_grey button {
    border-top-color: #ffffff;
    border-bottom-color: #e5e5e5;
    border-left-color: #e7e7e7;
    border-right-color: #e7e7e7;
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    background: url('/static/images/button_grey_bg.png') #dedede repeat-x top;;
}
.button_grey button:hover,
.button_grey button.hover {background-position: 0 -25px;}

.button_grey button:active,
.button_grey button.active {background: #dcdcdc;border-color: #dcdcdc;}

.button_main button:disabled {
    opacity: 0.6;
}

/* BUTTONS */

.button_main .button, .button_grey .button {
    border: 1px solid #ddd;
    background: none;
    outline: none;
    margin: 0;
    padding: 4px 14px;
    *padding: 5px 15px 3px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;
}

@-moz-document url-prefix() {
    .button_main .button, .button_grey .button {
        padding-top: 2px;
    }
}

.button_main {border-color: #849032;}
.grid-view table.items td .button_main {vertical-align:middle}
.button_main .button, .grid-view table.items td .button_main .button{
    border-top-color: #a3bc44;
    border-bottom-color: #849838;
    border-left-color: #8c9b45;
    border-right-color: #8c9b45;
    color: white;
    text-shadow: 0 1px 0 #6a732b;
    background: url('/static/images/button_bg.png') #b3ce4b repeat-x top;
    text-decoration:none!important;
    margin:0;
    width:auto;
    font-size:12px;
    font-weight:normal;
}

.button_main .button:hover,.grid-view table.items td .button_main .button:hover,
.button_main .button.hover {background-position: 0 -25px;text-decoration:none;}

.button_main .button:active,
.button_main .button.active {background: #7d8e21; border-color: #7d8e21;}

.button_grey {border-color: #b3b3b3;}
.button_grey .button {
    border-top-color: #ffffff;
    border-bottom-color: #e5e5e5;
    border-left-color: #e7e7e7;
    border-right-color: #e7e7e7;
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    background: url('/static/images/button_grey_bg.png') #dedede repeat-x top;;
}
.button_grey a.button:hover,
.button_grey a.button.hover {background-position: 0 -25px;text-decoration:none;}

.button_grey a.button:active,
.button_grey a.button.active {background: #dcdcdc;border-color: #dcdcdc;}

.button_main a.button:disabled {
    opacity: 0.6;
}

/* BUTTONS */
.button_main.admin {border: 1px solid #006673; padding: 0; margin: 0;}
.button_main.admin button,.button_main.admin a.button {
    border-top-color: #00bdcd;
    border-bottom-color: #0097a7;
    border-left-color: #0097a7;
    border-right-color: #0097a7;
    color: white;
    text-shadow: 0 1px 0 #006673;
    background: url('/static/images/button.png') #6181A6 repeat-x top;
    background-position: 0 -16px;
}

.button_main.admin button:hover,.button_main.admin a.button:hover,
.button_main.admin button.hover,.button_main.admin a.button.hover {background-position: 0 -8px; }

.button_main.admin button:active, .button_main.admin a.button:active,
.button_main.admin button.active,
.button_main.admin a.button.active {background: #0097a7; border: 1px solid #0097a7; position: relative; }


.interbutton{
	text-align: center; border-radius: 2px; display: inline-block; 
	position: relative; line-height: normal;
    background: none;
    outline: none;
    margin: 0;
    padding: 6px 14px;
    *padding: 5px 15px 3px;
    font-size: 12px;
    white-space: nowrap;
    overflow: visible;
	vertical-align:top;
}


/* MEDIA THUMBS */
.b-media-thumbs_title {margin-bottom: 15px;background: #f1f1f1; font-weight: bold; padding: 5px 10px; color: #444;}
.b-media-thumbs_box {margin-bottom: 20px; padding-left: 10px; overflow: hidden;}
.b-media-thumbs {clear: both; overflow: hidden;}
.b-media-thumbs .img { height: 120px; width: 100px; text-align: center;  margin-right: 16px; margin-bottom: 15px; float:left; position:relative;}
.b-media-thumbs .video { height: 110px; width: 122px; text-align: center;  margin-right: 15px; margin-bottom: 15px; float: left; position:relative;}
.b-media-thumbs .element {width: 102px; text-align: center; margin-right: 15px; margin-bottom: 10px; float: left; position:relative;}
.b-media-thumbs a {color: #000000;}
.b-media-thumbs a:hover {text-decoration: underline !important;}
.b-media-thumbs .delete {background: #ffffff url('/static/images/delete.gif') no-repeat; display: block; position: absolute; top: 0; right: 0; width: 15px; height: 15px; border-radius: 0 0 0 3px;}


/* DEFAULT CLASSES */
.l_fl {float: left;}
.r_fl {float: right;}

.l_al {text-align: left;}
.r_al {text-align: right;}
.c_al {text-align: center;}

.r_no_border {border-right: 0 !important;}
.l_no_border {border-left: 0 !important;}
.t_no_border {border-top: 0 !important;}
.b_no_border {border-bottom: 0 !important;}

.magic_button {opacity: 0.5;}
.magic_button:hover {opacity: 1;}

.default {border-collapse: collapse; margin-top: 5px;}
.default td {padding: 7px;}

.default input[type=text],
.default input[type=password] {width: 300px; padding: 5px; border: 1px solid #ddd;}

.default input[type=text]:focus,
.default input[type=password]:focus,
.default textarea:focus {border: 1px solid #ddd;}

.default .left {width: 150px; text-align: right; vertical-align: top; padding-top: 13px;}
.default a {text-decoration: underline;}
.default a:hover {text-decoration: none;}

ul.default {margin-left: 30px;}
ul.default li {padding: 5px 0;}

.b-default_form {width: 100%; border-collapse: collapse;}
.b-default_form td {padding: 5px;}
.b-default_form td input, textarea, select {border: 1px solid #ddd; padding: 3px 2px;}
.b-default_form .title {width: 140px; white-space: nowrap; font-weight: bold; vertical-align: top;}
.b-default_form .left {text-align: left;}
.b-default_form .right {text-align: right;}
.b-default_form .note {display: block; font-size: 12px; padding: 5px;}

fieldset {padding: 10px; border: 1px solid #ddd;}
fieldset legend {margin-left: 5px; font-size: 14px; padding: 5px;}


/* PAGINATION */
.b-default-pages {clear: both;}
.b-default-pages_top {padding-bottom: 15px;}
.b-default-pages_bottom {padding-top: 15px;}

ul.b-default_pager {list-style: none; display: inline; overflow: hidden;}
ul.b-default_pager li {display: inline; margin-right: 5px;}
ul.b-default_pager .first {display: none;}
ul.b-default_pager .previous {}
ul.b-default_pager .last {display: none;}
ul.b-default_pager .next {}
ul.b-default_pager .page {}
ul.b-default_pager .selected {}
ul.b-default_pager .selected a {color: #333; border-bottom: 3px solid #333; font-weight: bold;}
ul.b-default_pager .selected a:hover {border-bottom-color: #333; cursor: default;}
ul.b-default_pager .hidden {display: none;}
ul.b-default_pager a {color: #555; display: block-inline; padding: 3px 7px; border-bottom: 3px solid #ddd;}
ul.b-default_pager a:hover {text-decoration: none; border-bottom-color: #555;}


/* POSTS */
.post_infopanel {
    margin-top: 10px;
    padding: 3px;
    border-radius: 3px;
    color: #555;
    height: 25px;
    background: #f7f7f7;
}
.post_infopanel .info {
    margin-left: 5px;
}
.post_infopanel .info li {
    float: left;
    padding: 4px 0;
    margin-right: 25px;
}
.post_infopanel .info .date {
    color: #777;
}
.post_wrap > .title {
    margin: 10px 0;
}
.post_wrap .post_fulltext {
    color: #333;
    line-height: 160% !important;
    overflow: hidden;
}
.post_wrap .post_fulltext ol, .post_fulltext ul, .post_fulltext dl {margin-top: 15px; padding:0 30px;}
.post_wrap .post_fulltext a:hover {text-decoration: underline;}
.post_wrap .post_fulltext p {margin-bottom: 15px; padding: 0;}
.post_wrap .post_fulltext h1 {color: #444; font-weight: bold !important; font-size: 24px !important;}
.post_wrap .post_fulltext iframe {max-width: 600px;}
.post_wrap .post_fulltext table, .post_fulltext td {border:0;}
.post_wrap .post_fulltext ul {
    list-style: square;
    margin: 0 0 15px 20px;
}
.post_wrap .post_fulltext table.t1 {
    border-collapse: collapse;
}
.post_wrap .post_fulltext table.t1 td {
    padding: 5px;
    border: 1px solid #f1f1f1;
}
.post_wrap .post_addnew a {padding: 5px 5px 5px 22px;}
.post_wrap .post_addnew a:hover {text-decoration: underline;}

.post_wrap .post {margin-bottom: 20px; padding-bottom: 20px; overflow: hidden; clear: both;}
.post_wrap .post a:hover {text-decoration: underline;}
.post_wrap .post > .title {
    font-size: 19px;
    overflow: hidden;
    margin-bottom: 8px;
}
.post_wrap .post > .title a {
    text-decoration: underline;
}
.post_wrap .post > .body {
    padding: 5px 0;
    overflow: hidden;
    line-height: 160% !important;
}
.post_wrap .post > .body p {margin-bottom: 15px; padding: 0;}
.post_wrap .post > .body table.t1 {
    border-collapse: collapse;
}
.post_wrap .post > .body table.t1 td {
    padding: 5px;
    border: 1px solid #f1f1f1;
}

.posts_search {overflow: hidden; position: relative;}
.posts_search input {width: 705px; margin-bottom: 25px; text-indent: 5px; height: 24px; border: 1px solid #ccc; border-right: 0;}
.posts_search .button_grey {position: absolute; right: 0; height: 24px; border-radius: 0 3px 3px 0;}

.post_wrap .recommendations_wrap {
    margin-top: 25px;
}
.post_wrap .recommendations_wrap > .title {
    font-size: 18px;
}
.post_wrap .recommendations_wrap ul {
    margin-left: 20px;
    overflow: hidden;
}
.post_wrap .recommendations_wrap ul li {
    margin: 7px 0;
}

.post_wrap .recommendations_wrap h3,
.post_wrap .comments_wrap h3 {
    font-size: 15px;
    font-weight: bold;
}

.post_wrap .comments_wrap {
    margin-top: 20px;
}

.post_wrap .comment_table {margin: 10px 0; border-bottom: 1px solid #f1f1f1; width: 100%; border-collapse: collapse;}
.post_wrap .comment_table a {text-decoration: none;}
.post_wrap .comment_table a:hover {text-decoration: underline;}
.post_wrap .comment_table .username {font-weight: bold;}
.post_wrap .comment_text {margin: 3px 0; width: 450px; overflow: hidden;}
.post_wrap .comment_info {font-size: 12px; padding-bottom: 5px; color: #949494;}

.sm_share a {
    position:relative;
    margin-left: 5px !important;
}
.sm_share a span {
    position: absolute;
    z-index: 10;
    top: -23px;
    left: -10px;
    height: 19px;
    line-height: 20px;
    width: 30px;
    margin-left: 5px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    text-align: center;
    color: #9b9b9b;
}

/* MESSAGES */
.messages_table {margin-top: 10px;}

.messages_table td {vertical-align: middle !important;}
.messages_table td.date {width: 120px;}
.messages_table td.author {width: 150px;}
.messages_table td.actions {width: 36px; padding: 0;}
.messages_table td.actions label {padding: 20px 10px; display: block;}

.messages_table td.avatar {width: 35px; vertical-align: middle;}
.messages_table td.avatar img {width: 35px; vertical-align: middle;}

.messages_table td.msg {padding: 0; vertical-align: middle;}
.messages_table td.msg a {display: block; width: 100%; height: 100%; padding: 10px;}
.messages_table a:hover {text-decoration: underline;}

.messages_table td.date {cursor: pointer;}

.messages_pagination {margin-top: 15px;}

.message_view_table {width: 95%; border-collapse: collapse; margin-top: 15px; }
.message_view_table .left {color: #777; width: 120px; text-align: right;}
.message_view_table .top {vertical-align: top;}
.message_view_table td {padding: 5px;}
.message_view_table a:hover {text-decoration: underline;}
.message_view_table .date {font-size: 12px;}
.message_view_table .avatar {width: 35px; float: left; margin-right: 5px;}

.message_reply_textarea {height: 60px; width: 100%; margin-top: 15px; margin-bottom: 5px; padding: 3px;}

.messages_action_buttons {display: none; overflow: hidden;}
.messages_action_buttons .delete {margin: 15px 0 10px 0; clear: both; overflow: hidden;}
.messages_action_buttons .delete .counter {float: left; padding-top: 5px; margin-right: 10px;}
.messages_empty {margin-top: 15px; padding: 10px 5px; color: #777; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}


/* CHECKLIST */
.checklist_title {background: url('/static/images/main_icons.png') 0 -845px no-repeat; color: #555; height: 46px; padding: 10px 0 0 60px; font-size: 18px;}
.checklist_title span {font-size: 13px; display: block;}


.checklist_table td.task_desc {width: 420px;}
.checklist_table .task_text {width: 420px; cursor: default; overflow: hidden;}
.checklist_table .task_text a {text-decoration: none;}
.checklist_table .task_text a:hover {text-decoration: underline;}

.checklist_table td {padding: 10px 5px;}
.checklist_table .status {width: 10px;}
.checklist_table .th_note {width: 10px;}
.checklist_table .th_task {width: 430px;}
.checklist_table .date {width: 150px;}
.checklist_table .editor {width: 45px;}

.checklist_table tr.task td input[type=checkbox] {cursor:pointer;}

.checklist_table tr.task td a.active_budget:hover, a.none_budget:hover {text-decoration: none;}
.checklist_table tr.task td .active_budget {background: #8eca44; color: #fff; display: block; width: 15px; height: 15px; border-radius: 50%; font-size: 12px;}
.checklist_table tr.task td .active_budget:hover {box-shadow: 0 0 10px #8eca44;}
.checklist_table tr.task td .none_budget {background: #aaa; color: #ffffff; display: none; width: 15px; height: 15px; border-radius: 50%; font-size: 12px;}
.checklist_table tr.task td .none_budget:hover {box-shadow: 0 0 10px #ddd;}
.checklist_table .task:hover .none_budget {display: block;}

.checklist_table .editor_links {display: none;}
.checklist_table .task:hover .editor_links {display: inline;}

.checklist_filter {width: 100%; border-collapse: collapse; margin-bottom: 10px;}
.checklist_filter td {padding: 6px 0 5px 0;}
.checklist_filter .filter ul {list-style: none;}
.checklist_filter .filter li {display: block; float: left; margin-right: 5px;}
.checklist_filter .filter li a {color: #444; display: block; padding: 3px 10px; border-radius: 2px;}
.checklist_filter .filter sup {position: relative; margin-left: 2px;}
.checklist_filter .filter li a:hover {background: #f1f1f1; text-decoration: none;}
.checklist_filter .filter li.active a {background: #888; color: #fff;}

.checklist_viewby {float: right; margin-right: -5px;}

.checklist_summary_info {float: right; margin-top: 10px;}
.checklist_summary_info span {font-size: 18px;}

.checklist_clean_trash {display: inline; position: relative; top: 2px;}
.checklist_clean_trash a {border-bottom: 1px dotted;}
.checklist_clean_trash a:hover {border-bottom: 0;}

.checklist_templates {background-color: #fff; height: 300px; overflow-y: auto; margin: 0 20px 15px 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.checklist_templates_cat {}
.checklist_templates_cat .cat_name {background: #f1f1f1; border-bottom: 1px solid #ddd; font-weight: bold; padding: 5px;}
.checklist_templates_cat .task label {display: block; padding: 10px 15px; border-bottom: 1px solid #ddd; cursor: default;}
.checklist_templates_cat .task input {float: left;}
.checklist_templates_cat .task .text {margin-left: 25px;}
.checklist_templates_empty {margin: 0 20px 15px 20px;}

.checklist_template_types {margin: 25px 0 10px 0;}
.checklist_template_types select {padding: 5px !important;}

/* BUDGET */
.budget_title {background: url('/static/images/main_icons.png') 0 0 no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.budget_title span {font-size: 13px; display: block;}

.budget_table th {padding: 5px;}
.budget_table td {padding: 10px 5px;}

.budget_table .thead_help td {padding: 5px; color: #999; font-weight: normal; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.budget_table .thead_help:hover {background: none;}

.budget_table .th_title {width: 205px;}
.budget_table .th_note {width: 15px;}
.budget_table .more {width: 15px;}
.budget_table .plan {width: 70px;}
.budget_table .fact {width: 70px;}
.budget_table .paid {width: 70px;}
.budget_table .left {width: 70px;}
.budget_table .date {width: 110px;}
.budget_table .editor {width: 50px;}

.budget_table .title_text {display: block; width: 205px; overflow: hidden; padding-bottom: 1px;}

.budget_table tr.item td input[type=text] {padding: 1px 3px;}
.budget_table tr.item td .edit_input {display: none; width: 100%;}

.budget_table tr.item td .input_shadow input {border: 1px solid #ddd;}

.budget_table tr.item td .active_task {background: #8eca44; color: #fff; display: block; width: 14px; height: 14px; font-size: 12px; border-radius: 2px; margin-top: 1px;}
.budget_table tr.item td .active_task:hover {box-shadow: 0 0 10px #8eca44;}
.budget_table tr.item td .none_task {background: #aaa; color: #ffffff; display: none; width: 14px; height: 14px; font-size: 12px; border-radius: 2px; margin-top: 1px;}
.budget_table tr.item td .none_task:hover {box-shadow: 0 0 10px #ddd;}
.budget_table .item:hover .none_task {display: block;}

.budget_table .editor_links {display: none;}
.budget_table .item:hover .editor_links {display: inline;}

.budget_result_plus {color: green;}
.budget_result_minus {color: #c47500;}

.budget_sortby {margin: 10px 0; float: left;}

.budget_active_value {border-bottom: 1px dashed #aeaeae; cursor: pointer;}

.budget_total_info {color: #000; width: 290px; float: right; margin-top: -50px; border-left: 1px solid #ddd; z-index: 200;}
.budget_total_info table td {width: 150px; border-bottom: 1px dotted #ddd; padding: 5px;}
.budget_total_info table tr.last td {border-bottom: 0;}

.budget_saved_info {background-color: #859e3c; color: #fff; position: absolute; border: 1px solid #859e3c; margin: -1px 0 0 10px; border-radius: 3px; padding: 1px 3px;}

/* GUESTS */
.guests_title {background: url('/static/images/main_icons.png') 0 -82px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.guests_title span {font-size: 13px; display: block;}

.guests_table th {padding: 5px;}
.guests_table td {padding: 5px; vertical-align: middle !important;}
.guests_table .photo {width: 20px;}
.guests_table .name {width: 160px;}
.guests_table .category {width: 110px;}
.guests_table .phone {width: 120px;}
.guests_table .email {width: 35px;}
.guests_table .email span {cursor: default; border-bottom: 1px dotted;}
.guests_table .menu_type {width: 110px;}
.guests_table .notified {width: 15px;}
.guests_table .editor {width: 40px;}

.guests_table tr.item td input[type=checkbox] {cursor:pointer;}

.guests_table .editor_links {display: none;}
.guests_table .item:hover .editor_links {display: inline;}

.guests_summary_info {float: right; margin-top: 10px;}
.guests_summary_info span {font-size: 18px;}


.seating_title {background: url('/static/images/main_icons.png') 0 -602px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.seating_title span {font-size: 13px; display: block;}
.seating_content {margin-top: 20px;}

.seating_switch_menu {margin-top: 15px;}
.seating_switch_menu a {border-bottom: 1px dotted;}
.seating_switch_menu a:hover {text-decoration: none;}


/* WANNA GIFTS */
.gifts_title {background: url('/static/images/main_icons.png') 0 -1018px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.gifts_title span {font-size: 13px; display: block;}

.gifts_table .note_th {width: 15px;}
.gifts_table .title {width: 250px;}
.gifts_table .link {width: 80px;}
.gifts_table .guest {width: 140px;}
.gifts_table .editor {width: 45px;}

.gifts_table .title_text {width: 400px; overflow: hidden;}

.gifts_table .editor_links {display: none;}
.gifts_table .item:hover .editor_links {display: inline;}

.gifts_summary_info {float: right; margin-top: 10px;}
.gifts_summary_info span {font-size: 18px;}

.gifts_guest_msg {margin-top: 20px;}
.gifts_guest_msg .title {font-size: 18px; padding-bottom: 3px; color: #555;}


/* ROUTINE */
.routine_title {background: url('/static/images/main_icons.png') 0 -260px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.routine_title span {font-size: 13px; display: block;}

.routine_table .time {width: 20px;}
.routine_table .note_th {padding: 10px 5px;}
.routine_table .event {width: 235px;}
.routine_table .address {width: 200px;}
.routine_table .vendor {width: 150px;}
.routine_table .editor {width: 45px;}

.routine_table .event_text {width: 235px; overflow: hidden;}
.routine_table .address_text {width: 200px; overflow: hidden; padding-bottom: 2px;}
.routine_table .address_text a {border-bottom: 1px dashed;}
.routine_table .address_text a:hover {text-decoration: none;}

.routine_table td.vendor a {border-bottom: 1px dashed;}
.routine_table td.vendor a:hover {text-decoration: none;}

.routine_table .editor_links {display: none;}
.routine_table .item:hover .editor_links {display: inline;}


/* U_SITE */
.u_site_title {background: url('/static/images/main_icons.png') 0 -692px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.u_site_title span {font-size: 13px; display: block;}
.u_site_box {margin-top: 15px;}

.u_site_link {position: absolute; margin-left: 608px; margin-top: -30px; width: 170px; font-size: 18px;}
.u_site_link a:hover {text-decoration: underline;}

.u_site_settings {list-style: none; margin-bottom: 15px;}
.u_site_settings li {padding: 8px 15px;  border-bottom: 1px solid #ddd;}
.u_site_setting_title {background-color: #f1f1f1; border-bottom: 1px solid #ddd; padding: 5px; font-weight: bold; border-radius: 2px 2px 0 0;}

.u_site_setting_on {display: inline; padding: 2px 5px; border-radius: 3px; cursor: pointer;}
.u_site_setting_off {display: inline; padding: 2px 5px; border-radius: 3px; cursor: pointer; margin-right: 10px;}

.u_site_design {width: 200px; overflow: hidden; float: left; margin-left: 43px; margin-bottom: 20px;}
.u_site_design_preview {height: 180px; overflow: hidden; border: 1px solid #ddd;}
.u_site_design_preview:hover .u_site_design_preview_actionbar {display: block;}

.u_site_design_styles {background-color: #f1f1f1; height: 85px; overflow: hidden; border-top: 1px solid #ddd; border-radius: 0 0 5px 5px;}
.u_site_design_styles img {width: 32px; height: 32px; margin: 3px 5px 0 8px; cursor: pointer; border: 2px solid #f1f1f1;}
.u_site_design_styles .active {border-color: #a19c7f;}

.u_site_design_preview_actionbar {background: #fffccc; display: none; width: 198px; margin-top: 153px; z-index: 900; text-align: center; position: absolute; border-top: 1px solid #ddd; padding: 5px 0;}
.u_site_design_preview_actionbar a {color: #000;}
.u_site_design_preview_actionbar a:hover {text-decoration: underline;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .u_site_design_preview_actionbar {
        margin-top: 154px
    }
}


/* PHOTOS */
.photos_title {background: url('/static/images/main_icons.png') 0 -932px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.photos_title span {font-size: 13px; display: block;}

.photos_thumbs {clear: both; overflow: hidden; }
.photos_thumbs .img {height: 120px; width: 102px; text-align: center;  overflow: hidden; margin-right: 15px; margin-bottom: 15px; float: left; position: relative;}
.photos_thumbs a:hover {text-decoration: underline;}
.photos_thumbs img {border: 1px solid #dddddd;}
.photos_thumbs .delete {background: #ffffff url('/static/images/delete.gif') no-repeat;  display: block; position: absolute; top: 0; right: 0; width: 15px; height: 15px; border-radius: 0 0 0 3px;}

.photos_counter {background-color: #fcfcfc; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 5px 10px; color: #777;}


/* U_SITE GIFTS */
.u_site_gifts_table th {padding: 5px;}
.u_site_gifts_table td {padding: 5px; vertical-align: middle !important;}
.u_site_gifts_table .image {width: 30px;}
.u_site_gifts_table .title {width: 650px;}

.u_site_gifts_table .title_text {width: 650px; overflow: hidden;}

.u_site_gifts_table .editor_links {display: none;}
.u_site_gifts_table .item:hover .editor_links {display: inline;}


/* MY VENDORS */
.user_vendors_title {background: url('/static/images/main_icons.png') 0 -355px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.user_vendors_title span {font-size: 13px; display: block;}

.user_vendors_addcat {float: left; height: 20px; margin-top: 15px; margin-bottom: 10px;}
.user_vendors_addcat a {padding: 5px 5px 5px 22px;}

.user_vendors_tabs {margin: 15px -5px 10px 0; float: right;}

.user_vendors {border-collapse: collapse; clear: both; padding-top: 15px; border-top: 1px solid #ddd;}
.user_vendors .category {float: left; margin: 0 0 20px 35px; border-radius: 3px; width: 210px; height: 200px; border: 1px solid #ddd; vertical-align: middle; position: relative; }
.user_vendors .category:hover .delete,
.user_vendors .category:hover .trash,
.user_vendors .category:hover .edit {display: block;}

.user_vendors .category .category_info {padding-top: 30px;}
.user_vendors .category .cat_title {font-size: 18px; overflow: hidden;}

.user_vendors .category .cat_links {width: 165px; margin: 5px auto; text-align: center;}
.user_vendors .category .cat_links a {display: block; padding: 3px 0; text-align: center; border-radius: 2px; margin-bottom: 5px;}

.user_vendors .category .vendor_info {padding-top: 30px;}
.user_vendors .category .vendor_info .title {overflow: hidden; font-weight: bold; width: 280px; height: 17px; margin-bottom: 5px;}
.user_vendors .category .vendor_info .title a:hover {text-decoration: none !important;}
.user_vendors .category .vendor_info .logo img {border-radius: 3px;}
.user_vendors .category .vendor_info .vendor_tooltip {background-color: #fff; box-shadow: 0 0 10px #aaa; color: #999; display: none; width: 190px; text-align: left; position: absolute; top: 40%; left: 0; padding: 10px; z-index: 500; border-radius: 3px; border: 1px solid #aaa;}
.user_vendors .category .vendor_info .vendor_tooltip ul {list-style: none;}
.user_vendors .category .vendor_info .vendor_tooltip ul li {padding: 3px 0;}
.user_vendors .category .vendor_info .vendor_tooltip a:hover {text-decoration: underline;}
.user_vendors .category .vendor_info .vendor_tooltip .title a {font-weight: bold;}

.user_vendors .category .edit {background: url('/static/images/edit.png') no-repeat; display: none; position: absolute; right: 35px; top: 10px; width: 15px; height: 15px;}
.user_vendors .category .delete {background: url('/static/images/delete.png') no-repeat; display: none; position: absolute; right: 10px; top: 10px; width: 15px; height: 15px;}
.user_vendors .category .trash {background: url('/static/images/trash.png') no-repeat; display: none; position: absolute; right: 10px; top: 10px; width: 15px; height: 15px;}

.items_empty {clear: both; color: #777;}


/* CATALOG */
.b-catalog_cat a {color: #333;}
.b-catalog_cat {float: left; font-weight: bold; text-align: center; width: 100px; height: 150px; margin-right: 85px;}
.b-catalog_cat img {background-color: #f1f1f1; border-radius: 2px; width: 100px; height: 100px;}

.b-catalog_itemview {border-collapse: collapse; width: 100%;}
.b-catalog_itemview h1 {font-size: 18px;}
.b-catalog_itemview .product {width: 70%; vertical-align: top;}
.b-catalog_itemview .vendor_info {width: 30%; vertical-align: top; padding-left: 20px;}

.b-catalog_itemview .description {margin-top: 10px; padding: 5px;}
.b-catalog_itemview .media {margin: 10px 0}
.b-catalog_itemview .media img {margin: 5px; border-radius: 2px;}
.b-catalog_itemview .media img:hover {opacity: 1;}
.b-catalog_itemview .media .images {border-bottom: 1px solid #ddd;}
.b-catalog_itemview .media .title {padding: 5px 0; font-weight: bold;}
.b-catalog_itemview .media .videos {border-bottom: 1px solid #ddd;}

.b-catalog-table {width: 100%; border-collapse: collapse;}
.b-catalog-table .menu {vertical-align: top; width: 190px;}

.catalog_categories {padding-right: 15px;}
.catalog_categories .button_main {margin-bottom: 15px;}
.catalog_categories .active a {text-decoration: none !important;}
.catalog_categories a {text-shadow: 0 1px 0 #fff; }
.catalog_categories .root {}
.catalog_categories .root_first {}
.catalog_categories .root a {padding: 6px 10px; display: block; color: #444;}
.catalog_categories .root a:hover {background-color: #f1f1f1; text-decoration: none;}
.catalog_categories .root.active a {background-color: #fff9de; color: #444;}

.catalog_categories .subs_wrap {margin: 5px 0;}

.catalog_categories .sub {display: block; margin-left: 10px;}
.catalog_categories .sub a {padding: 5px 10px; display: block; color: #444; text-decoration: none;}
.catalog_categories .sub a:hover {background-color: #f1f1f1; color: #444;}
.catalog_categories .sub.active a {background-color: #fff9de; color: #444;}


.b-catalog-table .content {vertical-align: top;}
.b-catalog-table .params {vertical-align: top; width: 25%; padding-left: 15px;}

.b-catalog-table .content h1 {margin-bottom: 10px; font-size: 18px; color: #444;}
.b-catalog-table .content .item_first {border-top: 1px solid #ddd; padding-top: 15px;}
.b-catalog-table .content .item {border-radius: 2px; border-bottom: 1px solid #ddd; height: 110px; padding-bottom: 15px; margin-bottom: 18px;}

.b-catalog-table .content .item {width: 100%; border-collapse: collapse;}
.b-catalog-table .content .item table {border-collapse: collapse; width: 100%; height: 100%;}
.b-catalog-table .content .item .title {word-wrap: normal; overflow: hidden; }
.b-catalog-table .content .item .title a {font-size: 13px; font-weight: bold; text-decoration: underline;}
.b-catalog-table .content .item .title a:hover {text-decoration: none;}
.b-catalog-table .content .item .desc {padding: 5px 5px 5px 0; font-size: 12px;}
.b-catalog-table .content .item .desc a:hover {text-decoration: underline;}
.b-catalog-table .content .item .info a {text-decoration: underline;}
.b-catalog-table .content .item .info a:hover {text-decoration: none;}
.b-catalog-table .content .item .info ul {list-style: none; margin-top: 5px;}
.b-catalog-table .content .item .info ul li {display: inline; margin-right: 15px;}
.b-catalog-table .content .item .tags {padding: 5px;}
.b-catalog-table .content .item .icon {padding: 0 5px; width: 110px; height: 100px; vertical-align: top;}
.b-catalog-table .content .item .icon img {border-radius: 2px;}
.b-catalog-table .content .item .general {padding: 0 10px; height: 110px; vertical-align: top;}
.b-catalog-table .content .item .general td {vertical-align: top;}

.b-catalog-table .search-form {overflow: hidden; position: relative;}
.b-catalog-table .search-form input {width: 95%; margin-bottom: 15px; height: 24px; text-indent: 5px; border: 1px solid #ccc; border-right: 0;}
.b-catalog-table .search-form .button_grey {position: absolute; right: 0; height: 24px; border-radius: 0 3px 3px 0;}

.b-filter {background: #fcf4d9; color: #444; padding: 5px; border-radius: 2px; margin-bottom: 20px;}
.b-filter ul {list-style: none;}
.b-filter ul li {padding: 2px 0;}
.b-filter ul li table {border-collapse: collapse; font-size: 12px;}
.b-filter ul li table td {vertical-align: top; padding: 2px;}
.b-filter ul li table .remove {width: 15px;}
.b-filter ul li table .remove a {padding: 1px 5px; border-radius: 2px; }
.b-filter ul li table .remove a:hover {text-decoration: none; background: #555; color: #ffffff;}
.b-filter a:hover {text-decoration: underline;}
.b-filter .reset_all {margin: 10px 7px;}

.b-regions {margin-bottom: 20px;}
.b-regions select {width: 170px;}
.b-regions .apply_filter {margin-top: 5px;}

.b-attributes .title {padding: 2px 5px; border-radius: 3px 3px 0 0; font-weight: bold; text-shadow: 0 1px 0 #fff; background: #f4f4f4; color: #444;}
.b-attributes .attr {margin-bottom: 20px;}
.b-attributes .multy {margin-left: 10px; margin-top: 5px;}
.b-attributes .multy a {text-decoration: underline;}
.b-attributes .apply_multy {display: none;}
.b-attributes ul {list-style: none; max-height: 250px; overflow-y: auto; overflow-x: hidden; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.b-attributes ul li {margin-left: 15px; padding: 1px 0;}
.b-attributes li {margin: 5px 0;}
.b-attributes .show_more_params {margin: -5px 0 10px 10px; z-index: 300;}
.b-attributes .show_more_params a {border-bottom: 1px dashed;}
.b-attributes .show_more_params a:hover {text-decoration: none;}

.b-attributes a {color: #333;}
.b-attributes a:hover {text-decoration: underline;}
.b-attributes label {cursor: pointer;}

.attributes_table {width: 100%; border-collapse: collapse;}
.attributes_table td {vertical-align: top; width: 50%; border-bottom: 1px solid #ddd; padding: 10px;}
.b-attributes .bb-filter{margin: 20px 0 10px;}
.vendor_action_links {background: url('/static/images/actionLinks.png') no-repeat; display: inline-block; margin-left: 3px; padding-left: 18px;}
.vendor-save {background-position: 0 -68px;}
a.vendor-save.hover, a.vendor-save:hover {text-decoration: none; background-position: 0 -102px;}
.vendor-saved {color: #777; background-position: 0 -102px;}
.vendor-saved:hover {cursor: default;}


/* VENDOR PANEL */
.vendor_panel .sidebar {width: 190px; border: 1px solid #f1f1f1; padding: 10px; border-radius: 3px;}
.vendor_panel .links {width: 150px; margin: 5px auto; text-align: center;}
.vendor_panel .links button {width: 148px;}
.vendor_panel .links ul {list-style: none;}
.vendor_panel .links li {padding: 5px 0; border-radius: 2px;}
.vendor_panel .links li a {color: #333;}
.vendor_panel .links li a:hover {text-decoration: underline;}

.vendor_panel .links .in_team {font-weight: bold;}
.vendor_panel .links .in_team a:hover {text-decoration: none;}

.vendor_panel .vendor {text-align: center;}
.vendor_panel .vendor .name {font-weight: bold;}
.vendor_panel .vendor .logo {padding: 5px;}
.vendor_panel .vendor .logo img {border-radius: 2px;}
.vendor_panel .vendor .info {padding: 5px;}
.vendor_panel .vendor .info a:hover {text-decoration: underline;}
.vendor_panel .main_phone {text-align: center; padding: 5px; font-weight: bold; font-size: 16px;}

.vendor_profile_tabs {overflow: hidden; margin: 0 15px;}
.vendor_profile_tabs .box_content {min-height: 260px; border-radius: 0 0 5px 5px; padding: 15px;}

.vendor_profile_tabs .attr_cat {overflow: hidden;}
.vendor_profile_tabs .attr_cat_title {color: #555; font-weight: bold; margin-bottom: 5px;}

.vendor_profile_tabs .attrs_wrap {overflow: hidden; margin-bottom: 15px;}
.vendor_profile_tabs .attr {clear: both; padding: 5px 10px; border-bottom: 1px dotted #f1f1f1;}
.vendor_profile_tabs .attr:hover {background: #fcfcfc;}
.vendor_profile_tabs .attr table {border-collapse: collapse;}
.vendor_profile_tabs .attr table td {vertical-align: top;}
.vendor_profile_tabs .attr_title {color: #999; width: 200px;}
.vendor_profile_tabs .attr_values {color: #555;}

.vendor_profile_tabs .empty_info {color: #888;}

.vendor_profile_tabs .addresses .element {padding: 8px; border-bottom: 1px solid #ddd;}
.vendor_profile_tabs .addresses .num {margin-right: 5px;}
.vendor_profile_tabs .addresses a:hover {text-decoration: underline;}
.vendor_profile_tabs .images img {margin: 7px; border: 1px solid #ddd;}
.vendor_profile_tabs .videos img {margin: 7px; border: 1px solid #ddd;}
.vendor_profile_tabs .faq .element {border-bottom: 1px solid #ddd; padding: 10px 0; margin-bottom: 15px;}
.vendor_profile_tabs .certificates img {margin: 7px; border: 1px solid #ddd;}
.vendor_profile_tabs .box_content {}


/* SELECT FUN UPBOX */
.b-selectfun_select {margin-top: 15px; max-height: 250px; overflow-x: hidden; overflow-y: auto;}
.b-selectfun_select .element {display: block; cursor: pointer; padding: 7px 10px; border-bottom: 1px solid #ddd;}
.b-selectfun_select .element table {border-collapse: collapse;}
.b-selectfun_select .element table td {padding: 0 !important;}
.b-selectfun_select .element table .date {width: 120px; text-align: right;}
.b-selectfun_select .element:hover {background: #f1f1f1;}

.b-selectfun_links {margin-top: 15px; text-align: right;}
.b-selectfun_links a {text-decoration: underline;}
.b-selectfun_links a:hover {text-decoration: none;}


/* SELECT VENDOR MINIATURE UPBOX */
.b-category_select {margin-top: 15px; max-height: 250px; overflow-x: hidden; overflow-y: auto;}
.b-category_select .element {display: block; cursor: pointer; padding: 7px 10px; border-bottom: 1px solid #ddd;}
.b-category_select span {color: #777; display: block; padding: 7px 10px; border-bottom: 1px solid #ddd;}
.b-category_select .element:hover {background: #f1f1f1;}

/* SELECT GEO */
.b-geo_setting {position: absolute; left: 150px; top: 7px; z-index: 600;}
.b-geo_setting a {border-bottom: 1px dotted;}
.b-geo_setting a:hover {border-bottom: 0;}


/* UPBOX */
.b-upbox_title {
    background: #b4cf4b url('/static/images/upbox_title_bg.jpg') bottom repeat-x;
    margin: 2px;
    border-radius: 3px;
    border-left: 1px solid #b9c97b;
    border-right: 1px solid #b9c97b;
    border-bottom: 1px solid #adb666;
    font-weight: bold;
    color: #ffffff;
}

.b-upbox {width: 600px; overflow: hidden; border-radius: 5px;}
.b-upbox .title {font-weight: bold; padding: 7px 15px;}
.b-upbox .content {padding: 0 15px 15px 15px; border-top: none;}
.b-upbox .buttons {background: #f1f1f1; text-align: right; padding: 10px;}
.b-upbox .buttons div {margin-left: 5px;}
.b-upbox .buttons a {color: #444444;}

.b-upbox .content a {color: #4f70a7;}
.b-upbox .content input[type=text] {padding: 4px 5px; width: 216px; border: 1px solid #ddd;}
.b-upbox .content a.js_link {border-bottom: 1px dashed; text-decoration: none;}
.b-upbox .content a.js_link:hover {text-decoration: none;}

.b-upbox .content textarea {padding: 4px 5px; border: 1px solid #ddd;}
.b-upbox .content select {padding: 3px; width: 228px; border: 1px solid #ddd;}

.b-upbox .content table {width: 100%; border-collapse: collapse; padding: 0;}
.b-upbox .content table td {padding: 7px;}
.b-upbox .content table .td_name {color: #555; text-align: right; padding-top: 11px; font-weight: bold; vertical-align: top;}
.b-upbox .content table .left_name {color: #555; padding: 11px 0 7px 0; font-weight: bold; vertical-align: top;}
.b-upbox .content .inline_name {color: #555; padding-right: 10px; font-weight: bold;}
.b-upbox .content .note {color: #888;}

.b-upbox .content table.input_data td {border-bottom: 1px solid #e7e7e7;}

.b-upbox .content .text {margin-top: 15px; margin-bottom: 5px; display: block;}
.b-upbox .content .label_name {color: #555; margin-top: 15px; margin-bottom: 5px; display: block; font-weight: bold;}
.b-upbox .content .label_name a {font-weight: normal;}

.b-upbox .content .field {margin-bottom: 10px;}
.b-upbox a {text-decoration: underline;}
.b-upbox a:hover {text-decoration: none;}


/* JS TABS */
.b-small_tabs {width: 100%;}
.b-small_tabs .tabs_button {overflow: hidden; list-style: none; border-bottom: 2px solid #95a748;}
.b-small_tabs .tabs_button li {display: block; float: left; margin-right: 5px;}
.b-small_tabs .tabs_button li a {color: #000; display: block; float: left; padding: 5px 10px; border-radius: 3px 3px 0 0;}
.b-small_tabs .tabs_button li a:hover {background: #f0f5df; text-decoration: none;}
.b-small_tabs .tabs_button li a.active {background: #95a748; color: #ffffff;}


/* DASHBOARD */
.dashboard_title {background: url('/static/images/main_icons.png') 0 -518px no-repeat; color: #555; height: 46px; padding: 10px 0 0 65px; font-size: 18px;}
.dashboard_title span {font-size: 13px; display: block;}

.dashboard_wrap {
    overflow: hidden;
    margin-top: 20px;
}


/* SELECT FUN - LINK */
.select_fun_link {background-color: #f0f5df; margin: 15px 0; padding: 10px 20px; cursor: pointer; display: inline-block; border-radius: 15px; }
.select_fun_link:hover {background-color: #e7eed0; color: #000000;}
.select_fun_link span {border-bottom: 1px dotted;}


/* USER SETTINGS */
.settings_links a {background: #f1f1f1; color: #000; display: block; padding: 5px 15px; margin-top: 15px; border-radius: 3px;}
.settings_links a:hover {text-decoration: underline;}


.user_profile {}
.user_profile .user_wrap {
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    background: url('/static/images/profile_wrap_bg.jpg') bottom repeat-x;
    height: 115px;
    padding: 0 15px;
}
.user_profile .user_wrap .name {
    overflow: hidden;
    margin-bottom: 15px;
}
.user_profile .user_wrap .name h1 {
    float: left;
    font-size: 22px;
    margin-right: 10px;
}
.user_profile .user_wrap .avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.user_profile .user_wrap .avatar img {
    width: 100px;
    height: 100px;
}
.user_profile .user_wrap .last_activity {
    overflow: hidden;
    margin-top: 5px;
    color: gray;
}
.user_profile .user_wrap .buttons {
    overflow: hidden;
}
.user_profile .user_wrap .buttons .button_main {
    height: 24px;
}
.user_profile .user_wrap .buttons .button_main button {
    width: 160px;
}
.user_profile .user_wrap .buttons .new_message {
    overflow: hidden;
}
.user_profile .user_wrap .buttons .add_friend {
    margin-top: 5px;
}
.user_profile .user_wrap .buttons .friend_status {
    overflow: hidden;
    margin: 10px 0;
    color: #555;
}
.user_profile .user_wrap .buttons .add_toteam {
    overflow: hidden;
    margin-top: 5px;
    color: #555;
}
.user_profile .user_wrap .buttons .add_toteam .add_vendor {
    overflow: hidden;
    float: left;
}
.user_profile .user_wrap .buttons .add_toteam .add_vendor > img {
    padding: 5px 15px 5px 0;
}
.user_profile .user_wrap .buttons .add_toteam .add_vendor .button_main{
    margin-right: 15px;
}
.user_profile .user_wrap .buttons .add_toteam .add_vendor .status {
    overflow: hidden;
    margin: 5px 15px 5px 0;
}
.user_profile .user_wrap .buttons .add_toteam .fun_info {
    overflow: hidden;
    display: inline-block;
    padding: 5px 10px;
    background: #f1f1f1;
    text-shadow: 0 1px 0 #ffffff;
    border-radius: 3px;
}
.user_profile .user_wrap .buttons .favorites {
    display: inline;
    margin-left: 10px;
}

.user_profile .info_main_wrap {
    overflow: hidden;
    clear: both;
    padding: 15px;
}
.user_profile .info_main_wrap .info {
    overflow: hidden;
}
.user_profile .info_main_wrap .info .indent-top {
    margin-top: 10px;
}
.user_profile .info_main_wrap .info .item {
    clear: both;
}
.user_profile .info_main_wrap .info .item .title {
    float: left;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
.user_profile .info_main_wrap .info .item .label {
    float: left;
    padding: 5px 10px;
    width: 90px;
    color: #999;
}
.user_profile .info_main_wrap .info .item .field {
    padding: 5px;
    color: #555;
}
.user_profile .info_main_wrap .info .item  .field .wrap {
    overflow: hidden;
}

.user_profile .box_wrap {
    overflow: hidden;
    margin: 0 15px;
}
.user_profile .box_wrap .title {
    padding: 5px 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #dedede;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555;
    font-weight: bold;
}
.user_profile .box_wrap .title .count {
    font-weight: bold;
    font-size: 12px;
}
.user_profile .box_wrap .title > a {
    color: #888;
    font-weight: bold;
}
.user_profile .box_wrap .title > a:hover {
    text-decoration: none;
}
.user_profile .box_wrap .title .see_all {
    border-left: 1px solid #ddd;
    padding-left: 7px;
    margin-left: 7px;
    padding-bottom: 2px;
}
.user_profile .box_wrap .title .see_all a {

}
.user_profile .box_wrap .body {
    padding: 10px;
}

.user_profile .box_wrap .body .friend {
    overflow: hidden;
    float: left;
    width: 60px;
    text-align: center;
    margin-right: 15px;
}

.simple_folder_tabs ul {list-style: none; overflow: hidden; margin-top: 20px;}
.simple_folder_tabs li {display: block; float: left; margin-right: 5px;}
.simple_folder_tabs li a {color: #444; display: block; padding: 3px 10px; border-radius: 2px;}
.simple_folder_tabs li a:hover {background: #f1f1f1; text-decoration: none;}
.simple_folder_tabs li.active a {background: #888; color: #fff;}

/* FRIENDS LIST */
.friends_list_wrap {
    overflow: hidden;
    margin-top: 10px;
}
.friends_list_wrap .friend_wrap {
    overflow: hidden;
    clear: both;
    padding: 10px 5px;
    border-top: 1px solid #f1f1f1;
}
.friends_list_wrap .friend_wrap .avatar {
    float: left;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.friends_list_wrap .friend_wrap .avatar img {
    width: 50px;
    height: 50px;
}
.friends_list_wrap .friend_wrap .name a {
    font-weight: bold;
}
.friends_list_wrap .friend_wrap .links {
    margin-top: 5px;
}
.friends_list_wrap .friend_wrap .links li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
}
.friends_list_wrap .friend_wrap .links li a {
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ffffff;
}
.friends_list_wrap .friend_wrap .links li a:hover {
    background: #f1f1f1;
    color: #333;
    text-decoration: none;
}
.friends_list_wrap .empty_item {
    padding: 10px;
    color: #777;
    border-top: 1px solid #f1f1f1;
}

.simple_form {}
.simple_form .item {
    margin-bottom: 15px;
}
.simple_form .item .label {
    font-weight: bold;
    color: #555;
}
.simple_form .item .field {
    padding: 5px 0;
}
.simple_form .item .field input[type=text] {
    text-indent: 5px;
    line-height: 25px;
    height: 24px;
    border: 1px solid #ddd;
}
.simple_form .item .field.d_width_50 input[type=text],
.simple_form .item .field.d_width_50 textarea  {
    width: 50%;
}
.simple_form .item .field.d_width_100 input[type=text],
.simple_form .item .field.d_width_100 textarea {
    width: 99%;
}


/*help page*/
.nav_wrap {
margin:20px 0;
width:100%;
}
.nav_wrap h3 {
margin:0 0 10px 20px;
float:left;
font-size:18px;
color:#000;
position:relative;
cursor:pointer;
border-bottom:2px dotted #000;
clear:both;
}
.sub_nav {
margin:0 0 10px 0;
width:100%;
float:left;
display:none;
} 
.sub_nav h4 {
margin:10px 0 0 20px;
font-style:italic;
font-size:14px;
color:#000;
}
a.help_link {
margin-bottom:5px;
display:block;
font-size:16px;
text-decoration:underline;
}
a.help_active {
color:#000;
text-decoration:none;
}
.layout_container .page .sub_nav p {
margin:0 0 0 20px;
line-height:18px;
font-size:14px;
color:#000;
}
.nav_wrap h3 span {
width:0;
height:0;
position:absolute;
top:8px;
left:-20px;
border-top:3px solid transparent;
border-bottom:3px solid transparent;
border-left:6px solid #000;
}
.nav_wrap h3.active span {
border-top:6px solid #000;
border-left:3px solid transparent;
border-right:3px solid transparent;
}
/* calendar */
table#calendar td a{
    color:#000000;
    text-decoration:none;
    font-size:9px;
    padding:1px 0 1px 0;
    text-align:center;
    cursor: inherit;
}
td.active_month{
    background:#FFBA00;
    text-align:left;
    font-size:9px;
    font-family:sans-serif;
    padding:2px 0 2px 2px;
}
td.activer_month{
    background: #bdaa41;
    text-align:left;
    font-size:9px;
    font-family:sans-serif;
    padding:2px 0 2px 2px;
}
td.activ_month{
    background: #f0eb99;
    text-align:left;
    font-size:9px;
    font-family:sans-serif;
    padding:2px 0 2px 2px;
}
td.other_month{
    background:#CCCCCC;
    color:#707070;
    text-align:left;
    font-size:9px;
    font-family:sans-serif;
    padding:2px 0 2px 2px;
}
tr.active_day_line{
    background:#999999;
}
tr.other_day_line{
    background:#CCCCCC;
}
td.active_day{
    background:#FFBA00;
    text-align:center;
    padding:1px 0 1px 0;
    font-size:9px;
    border-right:white 1px solid;
}
td.other_day{
    text-align:center;
    padding:1px 0 1px 0;
    font-size:9px;
    border-right:white 1px solid;
}

thead.cal{
    background:#CCCCCC;
    color:#5E5E5E;
    font-family:sans-serif;
    font-size:10px;
}
td.epnone{
    text-align: center;
    border: solid 1px #000000;
}
td.epforsale {
    text-align: center;
    border: solid 1px #000000;
}
#calendar_container{
    width:184px;
    border: 3px solid;
    border-color: #EAE3C3 #EAE3C3 #DEDEDE;
    margin: 20px;
    padding: 0px;
}
/* end calendar */

.simple_folder_tabs li a.help_button {
padding:5px 15px;
color:#fff;
}
.simple_folder_tabs li a.help_button:hover {
background:url("/static/images/button_bg.png") 0 -25px;
}


.auth_userinfo {
    margin: 10px -30px;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 1px 2px #f5f5f5, 0 -1px 2px #f5f5f5;
}
    .auth_userinfo .photo {
        float: left;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background-color: #f1f1f1;
    }
    .auth_userinfo .wrap {
        overflow: hidden;
    }
    .auth_userinfo  h3.username {
        float: left;
        margin-top: 8px;
        font-size: 15px;
        font-weight: bold;
    }
    .auth_userinfo .description {
        clear: both;
        margin-top: 15px;
        color: #555;
    }
    .auth_userinfo .auth_cancel {
        float: right;
        margin-top: 8px;
        color: #aaaaaa;
        font-size: 12px;
    }
    .auth_userinfo .auth_cancel a {
        color: #aaaaaa;
    }

h2.auth_services_title {
    color: #444;
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.auth_services {
    clear: both;
    overflow: hidden;
    padding-bottom: 20px;
    width: 240px;
    margin: 0 auto;
}

.title_cart, .right_cart {
    margin-bottom: 10px;
    color: #000;
    font-size: 13px;
}

.title_cart a, .right_cart a {
    color: #4f9cd5;
    text-decoration: underline;
}

.title_cart a:hover, .right_cart a:hover {
    text-decoration: none;
}

.right_cart {
    float: right;
}

table.items {
    border: 1px solid #eae3c3 !important;
    border-top: 0 !important;
}

.items thead tr {
    background: #fffadc;
}

.items th, .items td {
    border: 1px solid #eae3c3 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 13px !important;
    text-align: center !important;
}

.items th {
    padding: 7px 10px !important;
    color: #000 !important;
    background: none !important;
}

.grid-view table.items tr.odd {
    background: #f9f9f9;
}

.grid-view table.items tr.odd:hover {
    background: #f9f9f9;
}

.grid-view table.items tr.even {
    background: none;
}

.grid-view table.items tbody tr:hover {
    background: none;
}

.grid-view table.items td {
    padding: 10px;
}

.items td:first-child img {
    width: 70px;
}

.grid-view table.items td a {
    margin: 0 7px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #949494;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    background: #d0d0d0;
}

.grid-view table.items td a.delete, .grid-view table.items td:first-child a {
    border: 0;
    background: none;
}

.grid-view table.items td:first-child a {
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 12px;
    color: #4F70A7;
    text-decoration: underline;
}
.grid-view table.items td:first-child a:hover {
    text-decoration: none;
}
.bottom_info {
    margin-bottom: 15px;
    width: 100%;
    text-align: right;
}

.left_position {
    text-align: left;
}

.bottom_info .total {
    margin-right: 55px;
	margin-bottom:10px
}

.bottom_info a {
    margin: 5px 55px 0 0;
    padding: 5px 15px;
    display: inline-block;
    color: #000;
    background: #fffadc;
    border-top: 1px solid #eae3c3;
    border-bottom: 1px solid #eae3c3;
}

.buttons a, .buttons input {
    display: inline-block;
    vertical-align: top;
    border: 0;

}

/*
.buttons input {
    color: #000;
    background: #fffadc;
    border-top: 1px solid #eae3c3;
    border-bottom: 1px solid #eae3c3;
}*/
.buttons a {
    /*margin-right: 5px;
    padding: 5px 15px;*/
}

.buttons input {
padding:4px 15px;
}

.auth_services a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    opacity: .7;
    background: url(images/auth_services_icons.png) no-repeat;
}
.auth_services a:hover {
    opacity: 1;
}
a.vkontakte {
    background-position: 0 0;
}
a.facebook {
    background-position: -40px 0;
}
a.twitter {
    background-position: -80px 0;
}
a.odnoklassniki {
    background-position: -120px 0;
}
a.google {
    background-position: -160px 0;
}

.content .left{float: left;}

.content .right{float: right;}

.content .row{
    margin: 10px 0;
    clear: both;
}

.content .row .notice{
    margin: 5px 0;
    color: #b1b1b1;
}

.content .row form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.clear {clear: both;}

.content .row form select,

.content .row form textarea,

.content .row form input[type=text],

.content .row form input[type=password] {
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd !important;
}

.content .row .search-form input[type=text]{width: 550px;}

.content .row form select:focus,

.content .row form textarea:focus,

.content .row form input[type=text]:focus,

.content .row form input[type=password]:focus {
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    box-shadow: 0 0 10px #f1f1f1;
}

.list-view .view:first-child{
    border-top: 1px solid #000;
}

.list-view .view{
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.content .row .search-form form  input[type="text"] {
    border-right:0 !important;
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

.content .row .search-form .button_grey {
    margin-left: -4px;
    vertical-align: top;
    border: 1px solid #ddd;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: -moz-linear-gradient(top, #f1f1f1, #dcdcdc) repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(241,241,241)), to(rgb(220,220,220))) repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f1f1f1, endColorstr=#dcdcdc) repeat;
    background: -o-linear-gradient(#f1f1f1, #dcdcdc) repeat;
}

.content .row .search-form .button_grey button {
    padding: 4px 14px 5px;
    border: 0;
    background: none;
}

.post {
    display: inline-block;
    vertical-align: top;
    border-color: #dddddd !important;
}

.price_box {
    width:90px;
    float:right;
    font-size:11px;
    text-align:center;
    color:#4f70a7;
}

.price_box a {
    color:#4f70a7;
}

.line_block {
    margin-bottom:10px;
    width:750px;
    display:inline-block;
    vertical-align:top;
}

.line_block span {
    margin-right:13px;
}

.top {
    font-size:13px;
}

.top span {
    margin:0 0 0 20px;
}

.top a {
    text-decoration:underline;
}

.top a:hover {
    text-decoration:none;
}

.top a:first-child {
    text-decoration:none;
    color:#000;
}

.reply, .button {
    float:left;
    font-size:12px;
    border:1px solid #aec658;
    -moz-box-shadow:0 0 0 1px #899538;
    -webkit-box-shadow:0 0 0 1px #899538;
    box-shadow:0 0 0 1px #899538;
    background: -moz-linear-gradient(top, #8fb02d, #819223) repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(143,176,45)), to(rgb(129,146,35))) repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8fb02d, endColorstr=#819223) repeat;
    background: -o-linear-gradient(#8fb02d, #819223) repeat;
}

.reply a, .button input {
    padding:4px 20px;
    display:block;
    color:#fff;
    background:none;
    border:0;
    cursor:pointer;
}

.title .button_main {
    float:right;
}

.content .form form textarea {
    width:945px;
}

.content .form form label span {
    color:#ff0000;
}

.userbar_wrap {
    float: right;
}

.userbar_wrap .messages_link {
    padding-left:29px !important;
    color:#fff;
    background: url('images/mail.png') no-repeat left center;
}

.userbar_wrap .messages_link b {
    padding:1px 5px 1px 2px;
    background: #ff0000;
}

.userbar_wrap .friends_link, .userbar_wrap .settings_link, .userbar_wrap .exit_link {
    text-indent:-9999px;
    overflow:hidden;
}

.userbar_wrap .friends_link {
    width:19px;
    background: url('images/friend.png') no-repeat center;
}

.userbar_wrap .settings_link {
    width:16px;
    background: url('images/setting.png') no-repeat center;
}

.userbar_wrap .exit_link {
    width: 14px;
    background: url('images/exit.png') no-repeat center;
}

.filter_link span, .filter_link a {
    padding:5px 10px;
    display:inline-block;
    vertical-align:top;
    color:#000;
}
.filter_link a.active {
    background:#ddd;
    border-radius:3px;
}

.cart {
    margin-top:10px;
    float:right;
}
.cart a {
    padding:4px 20px;
    display:block;
    float:left;
}
.b-attributes ul li input[type=checkbox] {display: none;}

.myBid .list-view .items .view {
    padding: 10px;
}
.myBid .list-view .items .close{
    opacity: 0.6;
}