/* Dmitry Marinin 2012 */

/* TOOLTIP */
.tooltip {position: absolute; max-width: 350px; text-align: left; z-index: 9999;}
/*url('/static/m-tooltip/bg.png'); */
.tooltip.default {background: #000; padding: 2px 7px; border-radius: 3px; color: #ffffff;}

.tooltip.white {border: 1px solid #9e9e9e; overflow: hidden; border-radius: 3px; padding: 5px 7px; box-shadow: #aaaaaa 0 0 10px; background: #ffffff;}

.tooltip-leftBottomArr:after{
    content:'';
    display: block;
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    height: 0;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
}

.tooltip-leftTopArr:after{
    content:'';
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
}