.svitor_about {
    line-height: 160%;
    margin: 0 40px;
}

.svitor_about h1{
    margin: 15px;
	color: #FCBB90;
}

.svitor_about h2{
    margin: 15px;
	color: #8FCA44;
	text-align: center;
	 font-size: 23px;
}

.svitor_about p {
line-height: 24px;
text-align: justify;
color: #545452;
padding-left:10px;
padding-right:10px;
padding-top:5px;
}

.svitor_about ul {
    margin-left: 30px;
	list-style-type: square;
	line-height: 22px;
	color: #545452;
	}

.svitor_about .main_title {
    font-size: 23px;
}

.svitor_about .main_desc {
    margin: 15px 0;
}

.svitor_about .services .service_box {
    margin-bottom: 30px;
}
.svitor_about .services .service_box .icon {
    float: left;
    width: 56px;
    height: 56px;
    padding: 5px;
}
.svitor_about .services .service_box .title {
    font-size: 25px;
    color: #333;
}
.svitor_about .services .service_box .desc {
    margin-left: 66px;
    margin-top: 10px;
}
.svitor_about .services .service_box .desc img {
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 20px -2px #f1f1f1, 0 3px 5px -1px #ddd;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.9;
}

.svitor_about .start_planning {
    text-align: center;
}
.svitor_about .start_planning button {
    position: relative;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff, 0 1px 2px #f1f1f1;
    border: 1px solid #ecdc8f;
    cursor: pointer;
    background-color: #FFF7D0;
}
.svitor_about .start_planning button:hover {
    background-color: #fffae4;
}

.help_character {
    width: 160px;
    height: 180px;
    float: right;
    background: url('/static/images/main_helpchar.jpg') no-repeat;
}

.icon_budget {background: url("/static/images/main_icons.png") no-repeat scroll 0 0 transparent;}
.icon_checklist {background: url("/static/images/main_icons.png") no-repeat scroll 0 -845px transparent;}
.icon_guests {background: url("/static/images/main_icons.png") no-repeat scroll 0 -82px transparent;}
.icon_photos {background: url("/static/images/main_icons.png") no-repeat scroll 0 -932px transparent;}
.icon_gifts {background: url("/static/images/main_icons.png") no-repeat scroll 0 -1018px transparent;}
.icon_routine {background: url("/static/images/main_icons.png") no-repeat scroll 0 -260px transparent;}

.icon_seating {background: url("/static/images/main_icons.png") no-repeat scroll 0 -602px transparent;}
.icon_vendors {background: url("/static/images/main_icons.png") no-repeat scroll 0 -355px transparent;}

.plashka {
    background-color: #FFFBE6;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    padding: 5px;
	color: #545452;
	text-align: justify;
}

.attention {
font-weight: bold;
font-size: 15px;
}
