html, body {font-family: Arial, sans-serif; font-size: 13px;}

.seating_table_title {font-size: 18px; margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.seating_table_title .places_counter {font-size: 13px; color: #555;}

.seating_table_guests {margin-bottom: 30px;}
.seating_table_guests table {width: 100%; border-collapse: collapse;}
.seating_table_guests table th {background-color: #f1f1f1; padding: 5px 10px; text-align: left;}
.seating_table_guests table td {padding: 5px 10px;; border: 1px solid #ddd;}
