.top_available_warning {position: fixed; z-index: 9999; top: 0; left: 0; right: 0; background: #ffdabc; padding: 10px; border-bottom: 1px solid #ffba82; box-shadow: 0 0 10px #444;}

.gifts {clear: both;}
.gift_box {width: 110px; height: 125px; float: left; text-align: center; overflow: hidden; margin-bottom: 15px; margin-right: 10px;}
.gift_box img {border-radius: 5px;}

h2 {font-size: 18px; font-weight: normal; color: #999;}

.guests {}
.guest_box {}
.guest_box img {border-radius: 2px; margin-right: 5px;}

.guestsMsg {margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.guestsMsg b {}

.main_table .content a {color: #555;}

.photos .img img {width: 100px; height: 100px; border-radius: 2px;}
.photos .img {float: left; width: 100px; height: 100px; margin-right: 15px; margin-bottom: 15px;}

a.address-link {border-bottom: 1px dashed;}
a.address-link:hover {text-decoration: none !important;}